<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Proyecto UTN</title>
</head>

<body>
  {{{body}}}
</body>
<div class="container">
  <footer class="footer">
    <div class="footer-row">
      <div class="footer-links">
        <h4>Compania</h4>
        <ul>
          <li> <a href="#">Nosotros</a></li>
          <li> <a href="#">Nuestros productos</a></li>
          <li> <a href="#">Suscribete</a></li>
          <li> <a href="#">Newsletter</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Compania</h4>
        <ul>
          <li> <a href="#">Ayuda</a></li>
          <li> <a href="#">Preguntas</a></li>
          <li> <a href="#">Contacto</a></li>
          <li> <a href="#">Envios</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>TIENDA</h4>
        <ul>
          <li> <a href="#">Velas</a></li>
          <li> <a href="#">Difusores</a></li>
          <li> <a href="#">Telefonos</a></li>
          <li> <a href="#">CarSmell</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>TIENDA</h4>
        <div class="social-link">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>

  </footer>
  <!--  FIN FOOTER -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>


</html>